.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 25px;
    box-shadow: 0 2px 10px rgb(234, 129, 8);
    border: 1px solid rgb(59, 54, 54);
    margin-top: 120px;
    padding: 50px;
    border-radius: 8px;
    width: 30%;
}
.login-section input {
    padding: 15px;
    border-radius: 8px;
    width: 50%;
}
.login-section button {
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
    width: 120px;
}
.login-links {
    display: flex;
    flex-direction: row;
    column-gap: 75px;
}
.register-link ,
.reset-link {
    color:rgb(234, 129, 8);
    text-decoration-color: underline rgb(234, 129, 8);
}
.login-button, 
.show-button {
    padding: 20px;
    background-color:rgb(234, 129, 8);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 5px 5px 0px black;
    transition: all 0.3 ease;
}
.login-button:hover,
.show-button:hover {
    background-color: white;
    color: rgb(234, 129, 8);
    box-shadow: 5px 5px 0px rgb(234, 129, 8);
}
.login-button:active,
.show-button:active {
    box-shadow: none;
    transform : translateY(4px);
    border-color: #2b2d2f;
    background-color: #2b2d2f;
}
.server-info {
    z-index: 1000;
    border: 1px solid #f07f0e;
    border-radius: 10px;
    color: white;
    padding: 25px;
    background-color:rgb(100, 93, 93);
    box-shadow: 0 0 5px rgba(240, 127, 14, 0.2);
    transition: opacity 0.4s ease;
    pointer-events: none;
    max-width: 400px;
    text-align: center;
    word-wrap: break-word;
}
