.tools-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tools-intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 75px;
    background-color: #423c3c;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
}
.tools-spacer {
    width: 22%;
    border-top: 1px solid #ffffff;
    align-self: center;
}
.tools-intro {
    margin-top: 35px;
    width: 100%;
    font-size: large;
    line-height: 1.5;
    text-align: center;
}
.search-here {
    font-size: large;
    font-weight: bold;
}
.tool-search {
    padding: 15px;
    width: 40%;
    border-radius: 12px;
    background-color: rgb(59, 54, 54);
    color: white;
    box-shadow: 0 2px 10px rgb(234, 129, 8);
    border: 1px solid rgb(59, 54, 54);
}
.tools-section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid rgb(59, 54, 54);
    width: 85%;
    background-color: rgb(59, 54, 54);
    border-radius: 9px;
    box-shadow: 0 2px 10px rgb(234, 129, 8);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    overflow: visible;
}
@media (max-width: 1000px) {
    .tools-section {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px) {
    .tools-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px) {
    .tools-section {
        grid-template-columns: repeat(1, 1fr);
    }
}
.rating-menu {
    z-index: 1000;
    position:absolute;
    background: rgb(59, 54, 54);
    border: 1px solid #000000;
    border-radius: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 500px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
}                      
.rating-menu-header {
    margin-top: 5px;
    margin-bottom: 40px;
    color: rgb(234, 129, 8);
} 
.rating-menu-image-container {
    display: grid;
    width: 100%;
    height: 85%;
    grid-template-columns: repeat(2 , 1fr);
    align-content: center;
    justify-content: center;
    gap: 5px;
}
.rating-menu-images{
    object-fit: cover;
    padding: 8px;
    border: 1px solid black;
    border-radius: 12px;
    justify-self: center;
    transition: all 0.2s ease;
    cursor: pointer;
    max-width: 60%;
}
.rating-menu-images:hover {
    transform: translateY(-6px);
    background-color: #474a50;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    opacity: 1;
}
.rating-menu-images:active {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
.navigate-add-tool-button,
.submit-rating-button {
    margin-bottom: 40px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #f07f0e;
    font-size: 0.9rem;
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 20px;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: 0 0 5px rgba(240, 127, 14, 0.2);
    cursor: pointer;
    margin-bottom: 10px;
    width: auto;
    max-width: fit-content;
    text-align: center;
}
.navigate-add-tool-button:hover,
.submit-rating-button:hover {
    background-color: #f07f0e;
    color: #000;
    box-shadow: 0 2px 8px rgba(240, 127, 14, 0.5);
}
.navigate-add-tool-button:active {
    background-color: yellow;
    box-shadow: none;
    transform : translateY(4px);
}