.blackboard-entry {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 9px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.user-email {
    color: rgb(234, 129, 8);
    font-weight: bold;
}
.user-text {
    width: 90%;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}
.bottom-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-time {
    color: rgb(234, 129, 8);
    font-weight: bold;
    margin-left: auto;
}
.delete-button {
    padding: 6px;
    background-color: rgb(188, 19, 19);
    border: 1px solid black;
    border-radius: 7px;
    color: white;
}
.delete-button:hover {
    background-color: white;
    color: rgb(188, 19, 19);
}