.button-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button-section {
    margin-top: 25px;
    display: flex;
    flex: row;
    column-gap: 60px;
    padding: 25px;
}
.button-section button {
    padding: 30px;
    background-color:rgb(234, 129, 8);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 5px 5px 0px black;
    transition: all 0.3 ease;
}
.button-section button:hover {
    background-color: white;
    color: rgb(234, 129, 8);
    box-shadow: 5px 5px 0px rgb(234, 129, 8);
}
.button-section button:active {
    background-color: yellow;
    box-shadow: none;
    transform : translateY(4px);
}
